# Ignore all unnecessary files for installation in a specific environment
*__pycache__/
*.ipynb_checkpoints/

build/
dist/
scoobpsf.egg-info/

scoob-opds/*

notebooks/data/
scoobpsf/data/

scoobpsf/pr_ifcube_2022_09_16.fits


